body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  /* background: -webkit-linear-gradient(360deg, #38aecc 10%, #347fb9 360%); */
  /* background: -webkit-linear-gradient(360deg, #01a99c 10%, #0698b1 360%); */
  background: linear-gradient(to left, rgb(41, 114, 223)0%, rgb(39, 223, 220)100%);
}

